{% extends "layout.html" %}
{% block title %}Users{% endblock %}
{% block app_content %}
<h1>goods</h1>
<div class="row row-cols-1 row-cols-md-3">
{% for good in goods_list %}
    <div class="col mb-4">
        <div class="card w-100" style="width: 18rem;">
            <img src="/static/imgs/{{ good.img_file_name }}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">
                    <a href="goods/{{ good.id }}">{{ good.name }}</a>
                </h5>
                <p class="card-text">{{ good.description}}</p>
                <a href="#" class="btn btn-primary">{{ good.price }}</a>
                <a href="#" class="btn btn-primary">Добавить в корзину</a>
            </div>
        </div>
    </div>
{% endfor %}
</div>

{% endblock %}